<div class="row">
    <main class="col-md-12">
        <html>
            <head>
                <title>Welcome</title>
            </head>
            <body>
                <div class="row">
                    <div class="col-md-12">
      

                <header>
                    <h1>Welcome</h1>
                    <p>Hi! I am Shonal. I am excited to see how my website will perform.</p>
                </header>

                <section>
                    <h2>About</h2>
                    <p>This site has some functions: 
                        <a href="/">Home</a>, 
                        <a href="/about">About</a>, 
                        <a href="/htmldemo">HTML Demo</a>, 
                        <a href="/students">All Students</a>, 
                        <a href="/students?course=3">Students by Course</a>, 
                        <a href="/student/2">A Single Student By Student Number</a>, 
                        <a href="/tas">All Managers</a>, and 
                        <a href="/courses">All Courses</a>.
                    </p>
                </section>

                <section>
                    <h2>HTML5 Principles</h2>
                    <p>An interesting feature of this website is that it was built using Node.js.</p>
                </section>
                </div>
            </div>
            </body>
        </html>
    </main>
</div>
