@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  background: linear-gradient(to bottom, #aeb1b0, #c5e3de);
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
}
.bg-light {
  background: linear-gradient(to bottom, #2f3837 10%, #687e7a 90%);
  box-shadow: 0px 2px 4px rgba(215, 35, 35, 0.1);
}

.navbar-brand {
  font-family: 'Roboto', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #aeb1b0 !important;
}

.nav-link {
  font-family: 'Roboto', cursive;
  color: #c5e3de !important;
}

.nav-link:hover {
  color: #2f3837 !important;
}


table tr:nth-child(odd) td {
  background-color: #ffffff; 
}

a {
  color: #4e3939; 
}

a:hover {
  color: #d9efad; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', cursive;
  color: #468e74; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

legend {
  padding: 5px 0; 
  font-family: 'Roboto', cursive;
  color: #34233e; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

